@charset "UTF-8";
/* Project built using scss, the output css file will get overwritten */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.5/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../css-src/partials/global/_FOUC.scss */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none;
}

/* line 7, ../css-src/partials/global/_selection.scss */
::-moz-selection {
  background: #b0a18f;
  text-shadow: none;
}

/* line 12, ../css-src/partials/global/_selection.scss */
::selection {
  background: #b0a18f;
  text-shadow: none;
}

/* line 21, ../css-src/partials/global/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 31, ../css-src/partials/global/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 40, ../css-src/partials/global/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 49, ../css-src/partials/global/_normalize.scss */
[hidden] {
  display: none;
}

/* line 66, ../css-src/partials/global/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 75, ../css-src/partials/global/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 87, ../css-src/partials/global/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 96, ../css-src/partials/global/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 104, ../css-src/partials/global/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 112, ../css-src/partials/global/_normalize.scss */
mark {
  background: yellow;
  color: black;
}

/* line 124, ../css-src/partials/global/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 133, ../css-src/partials/global/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 143, ../css-src/partials/global/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 151, ../css-src/partials/global/_normalize.scss */
small {
  font-size: 80%;
}

/* line 160, ../css-src/partials/global/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../css-src/partials/global/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../css-src/partials/global/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 184, ../css-src/partials/global/_normalize.scss */
img {
  border: 0;
  vertical-align: middle;
}

/* line 193, ../css-src/partials/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 205, ../css-src/partials/global/_normalize.scss */
figure {
  margin: 0;
}

/* line 217, ../css-src/partials/global/_normalize.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0.35em 0.625em 0.75em;
}

/* line 229, ../css-src/partials/global/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 244, ../css-src/partials/global/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 256, ../css-src/partials/global/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 271, ../css-src/partials/global/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 281, ../css-src/partials/global/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 291, ../css-src/partials/global/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 302, ../css-src/partials/global/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 315, ../css-src/partials/global/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 324, ../css-src/partials/global/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 335, ../css-src/partials/global/_normalize.scss */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 349, ../css-src/partials/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../css-src/partials/global/_typography.scss */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

/* line 10, ../css-src/partials/global/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* line 15, ../css-src/partials/global/_typography.scss */
h1,
.pageHeading {
  font-size: 30px;
  font-size: 3rem;
  font-weight: normal;
  font-family: 'logoFont', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #f2f2f2;
  line-height: 1.25;
}

/* line 27, ../css-src/partials/global/_typography.scss */
h2,
h3,
h4,
h5 {
  font-family: 'Bariol', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #f2f2f2;
  font-weight: normal;
}

/* line 31, ../css-src/partials/global/_typography.scss */
h2 {
  font-size: 28px;
  font-size: 2.8rem;
}

/* line 40, ../css-src/partials/global/_typography.scss */
h3 {
  font-size: 17px;
  font-size: 1.7rem;
}
@media (min-width: 33em) {
  /* line 40, ../css-src/partials/global/_typography.scss */
  h3 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

/* line 49, ../css-src/partials/global/_typography.scss */
h4 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
}

/* line 53, ../css-src/partials/global/_typography.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 56, ../css-src/partials/global/_typography.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 59, ../css-src/partials/global/_typography.scss */
small {
  font-size: 10px;
  font-size: 1rem;
}

/* line 62, ../css-src/partials/global/_typography.scss */
button {
  font-weight: bold;
}

/* line 1, ../css-src/partials/elements/_html.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

/* line 1, ../css-src/partials/elements/_body.scss */
body {
  background-color: #af7a99;
  background-color: #af7a99, 0.01;
  background-color: rgba(175, 122, 153, 0.01);
  color: #1a1a1a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 11, ../css-src/partials/elements/_body.scss */
.ad_settings {
  background-color: #788eac;
  background-color: #788eac, 0.01;
  background-color: rgba(120, 142, 172, 0.01);
}

/* line 14, ../css-src/partials/elements/_body.scss */
.ad_home {
  background-color: #404040;
  background-color: #404040, 0.01;
  background-color: rgba(64, 64, 64, 0.01);
}

/* line 17, ../css-src/partials/elements/_body.scss */
.ad_results {
  background-color: #af7a99;
  background-color: #af7a99, 0.01;
  background-color: rgba(175, 122, 153, 0.01);
}

/* line 20, ../css-src/partials/elements/_body.scss */
.ad_calendar {
  background-color: #78ac78;
  background-color: #78ac78, 0.01;
  background-color: rgba(120, 172, 120, 0.01);
}

/* line 23, ../css-src/partials/elements/_body.scss */
.ad_entries {
  background-color: #788eac;
  background-color: #788eac, 0.01;
  background-color: rgba(120, 142, 172, 0.01);
}

/* line 26, ../css-src/partials/elements/_body.scss */
.ad_friends {
  background-color: #b78080;
  background-color: #b78080, 0.01;
  background-color: rgba(183, 128, 128, 0.01);
}

/* line 4, ../css-src/partials/elements/_nav.scss */
nav ul,
nav ol,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 9, ../css-src/partials/elements/_nav.scss */
nav li {
  float: left;
}

/* line 1, ../css-src/partials/elements/_a.scss */
a {
  color: #6b5d4d;
  text-decoration: underline;
}
/* line 4, ../css-src/partials/elements/_a.scss */
a:hover {
  text-decoration: none;
}

/* line 4, ../css-src/partials/elements/_hx.scss */
h2 {
  color: #af7a99;
}

/* line 7, ../css-src/partials/elements/_hx.scss */
h3 {
  color: #6b5d4d;
}

/* line 5, ../css-src/partials/elements/_hr.scss */
hr {
  border: 0;
  border-top: 1px solid #af7a99;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/* line 1, ../css-src/partials/elements/_form.scss */
fieldset {
  border: none;
}

/* line 4, ../css-src/partials/elements/_form.scss */
textarea {
  resize: vertical;
}

/* line 7, ../css-src/partials/elements/_form.scss */
.formWrapper {
  background-color: #af7a99;
  background-color: #af7a99, 0.1;
  background-color: rgba(175, 122, 153, 0.1);
  padding: 0.5em 1em;
}

/* line 11, ../css-src/partials/elements/_form.scss */
.formField {
  padding: 0;
}
@media (min-width: 33em) {
  /* line 11, ../css-src/partials/elements/_form.scss */
  .formField {
    margin-bottom: 1em;
  }
}
/* line 16, ../css-src/partials/elements/_form.scss */
.formField:focus {
  background-color: white;
  background-color: white, 0.5;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 25, ../css-src/partials/elements/_form.scss */
.formField label,
.formField input[type=text],
.formField input[type=search],
.formField input[type=email],
.formField input[type=password],
.formField input[type=date],
.formField textarea {
  border: 2px solid rgba(175, 122, 153, 0.5);
  background-color: white;
  background-color: white, 0.5;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0.25rem 0.25rem;
  -moz-border-radius: 0.25rem / 0.25rem;
  border-radius: 0.25rem / 0.25rem;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  height: 40px;
  height: 4.0rem;
  line-height: 40px;
  line-height: 4.0rem;
  padding: 0 5px;
  max-width: 95%;
  min-width: 96%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 41, ../css-src/partials/elements/_form.scss */
.formField label:focus, .formField label:hover,
.formField input[type=text]:focus,
.formField input[type=text]:hover,
.formField input[type=search]:focus,
.formField input[type=search]:hover,
.formField input[type=email]:focus,
.formField input[type=email]:hover,
.formField input[type=password]:focus,
.formField input[type=password]:hover,
.formField input[type=date]:focus,
.formField input[type=date]:hover,
.formField textarea:focus,
.formField textarea:hover {
  background: white;
  border: 2px solid #af7a99;
}
/* line 49, ../css-src/partials/elements/_form.scss */
.formField label {
  border: none;
  background: transparent;
}
/* line 53, ../css-src/partials/elements/_form.scss */
.formField label:focus, .formField label:hover {
  background: transparent;
  border: none;
}
/* line 58, ../css-src/partials/elements/_form.scss */
.formField textarea {
  height: 150px;
  height: 15.0rem;
}

/* line 63, ../css-src/partials/elements/_form.scss */
label {
  cursor: pointer;
}

/* line 67, ../css-src/partials/elements/_form.scss */
input[placeholder] {
  text-overflow: ellipsis;
}

/* line 71, ../css-src/partials/elements/_form.scss */
::-moz-placeholder {
  text-overflow: ellipsis;
}

/* line 74, ../css-src/partials/elements/_form.scss */
input:-moz-placeholder {
  text-overflow: ellipsis;
}

/* line 78, ../css-src/partials/elements/_form.scss */
.formSubmit .button {
  width: 100%;
}
@media (min-width: 33em) {
  /* line 77, ../css-src/partials/elements/_form.scss */
  .formSubmit {
    padding-left: 38.70968%;
  }
  /* line 84, ../css-src/partials/elements/_form.scss */
  .formSubmit .button {
    padding: 0.25em 2em;
    width: auto;
  }
}

/* line 110, ../css-src/partials/elements/_form.scss */
.formFilterBy label,
.formFilterBy select {
  display: inline-block;
  min-width: 0;
}

/* line 1, ../css-src/partials/default-layout/_wrapper.scss */
.layoutWrapper {
  *zoom: 1;
  max-width: 25em;
  _width: 25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.layoutWrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../css-src/partials/default-layout/_header.scss */
.layoutHeader {
  *zoom: 1;
  max-width: 25em;
  _width: 25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem 0;
  padding: 0;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.layoutHeader:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../css-src/partials/default-layout/_header.scss */
.layoutHeader .toggle {
  width: 13.04348%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 8, ../css-src/partials/default-layout/_header.scss */
.layoutHeader .icon-menu {
  font-size: 1rem;
  text-align: right;
}

/* line 1, ../css-src/partials/default-layout/_main.scss */
.layoutMain {
  background: white;
  clear: both;
}

/* line 1, ../css-src/partials/default-layout/_footer.scss */
.layoutFooter {
  background-color: #af7a99;
  background-color: #af7a99, 1;
  background-color: #af7a99;
  color: white;
  clear: both;
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 1em;
  padding: 1em 2em;
}
/* line 8, ../css-src/partials/default-layout/_footer.scss */
.layoutFooter a {
  color: white;
  text-decoration: none;
}
/* line 12, ../css-src/partials/default-layout/_footer.scss */
.layoutFooter p {
  margin: 0;
}
/* line 15, ../css-src/partials/default-layout/_footer.scss */
.layoutFooter .icon {
  display: inline-block;
  margin-right: 1rem;
}

/* line 1, ../css-src/partials/navigation/_primary.scss */
.navPrimary {
  *zoom: 1;
  max-width: 25em;
  _width: 25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
/* line 3, ../css-src/partials/navigation/_primary.scss */
.navPrimary .narrow-page {
  *zoom: 1;
  max-width: 17em;
  _width: 17em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.navPrimary .narrow-page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.navPrimary:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../css-src/partials/navigation/_primary.scss */
.navPrimary li {
  width: 47.82609%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-bottom: 1rem;
  margin-right: 0;
}
/* line 9, ../css-src/partials/navigation/_primary.scss */
.navPrimary li:nth-child(2n) {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 15, ../css-src/partials/navigation/_primary.scss */
.navPrimary a {
  color: white;
  display: block;
  font-size: 20px;
  font-size: 2rem;
  line-height: 35px;
  line-height: 3.5rem;
  padding: 3rem 0;
  text-align: center;
  text-decoration: none;
}

/* line 1, ../css-src/partials/navigation/_admin.scss */
.navAdmin {
  width: 48.93617%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 3, ../css-src/partials/navigation/_admin.scss */
.navAdmin a {
  color: white;
  display: block;
  font-weight: normal;
  padding: 0 1em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 11, ../css-src/partials/navigation/_admin.scss */
.navAdmin a:hover, .current .navAdmin a {
  background-color: #af7a99;
  background-color: #af7a99, 0.55;
  background-color: rgba(175, 122, 153, 0.55);
}

@media (min-width: 33em) {
  /* line 1, ../css-src/partials/containers/_primary.scss */
  .containerPrimary {
    background-color: white;
    background-color: white, 1;
    background-color: white;
    -webkit-box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
    -moz-box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
    box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
    -webkit-border-radius: 0.5rem 0.5rem;
    -moz-border-radius: 0.5rem / 0.5rem;
    border-radius: 0.5rem / 0.5rem;
    margin: 1em;
    padding: 1em;
  }
}

/* line 1, ../css-src/partials/modules/_control-panel.scss */
.controlPanel {
  background-color: #af7a99;
  background-color: #af7a99, 1;
  background-color: #af7a99;
  -webkit-box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
  -moz-box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
  box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
  clear: both;
}

/* line 1, ../css-src/partials/modules/_user-snapshot.scss */
.userSnapshot {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  color: white;
}

/* line 1, ../css-src/partials/modules/_login.scss */
.loginPanel {
  background-color: #af7a99;
  background-color: #af7a99, 0.25;
  background-color: rgba(175, 122, 153, 0.25);
  clear: both;
}
@media (min-width: 33em) {
  /* line 1, ../css-src/partials/modules/_login.scss */
  .loginPanel {
    padding: 1em 0;
  }
}

/* line 1, ../css-src/partials/modules/_logo.scss */
.logo {
  width: 13.04348%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 3, ../css-src/partials/modules/_logo.scss */
.logo:before {
  color: rgba(175, 122, 153, 0.75) !important;
  margin: 0;
}

/* line 1, ../css-src/partials/modules/_icon.scss */
.icon:before {
  color: white;
  font-family: 'icomoon';
  font-size: 4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

/* line 14, ../css-src/partials/modules/_icon.scss */
.icon-twitter:before {
  content: "\e001";
}

/* line 17, ../css-src/partials/modules/_icon.scss */
.icon-envelope:before {
  content: "\e002";
}

/* line 20, ../css-src/partials/modules/_icon.scss */
.icon-menu:before {
  color: #af7a99;
  content: "\e003";
}

/* line 24, ../css-src/partials/modules/_icon.scss */
.icon-info:before {
  content: "\e000";
}

/* line 27, ../css-src/partials/modules/_icon.scss */
.icon-heart:before {
  content: "\e005";
}

/* line 30, ../css-src/partials/modules/_icon.scss */
.icon-heart-2:before {
  content: "\e006";
}

/* line 33, ../css-src/partials/modules/_icon.scss */
.icon-calendar:before {
  content: "\e004";
}

/* line 36, ../css-src/partials/modules/_icon.scss */
.icon-cog:before {
  content: "\e007";
}

/* line 39, ../css-src/partials/modules/_icon.scss */
.icon-stats:before {
  content: "\e008";
}

/* line 42, ../css-src/partials/modules/_icon.scss */
.icon-pencil:before {
  content: "\e009";
}

/* line 45, ../css-src/partials/modules/_icon.scss */
.icon-bullhorn:before {
  content: "\e00a";
}

/* line 48, ../css-src/partials/modules/_icon.scss */
.icon-flag:before {
  content: "\e011";
}

/* line 51, ../css-src/partials/modules/_icon.scss */
.icon-plus-alt:before {
  content: "\e00f";
}

/* line 54, ../css-src/partials/modules/_icon.scss */
.icon-minus-alt:before {
  content: "\e012";
}

/* line 57, ../css-src/partials/modules/_icon.scss */
.icon-bolt:before {
  content: "\e00e";
}

/* line 60, ../css-src/partials/modules/_icon.scss */
.icon-github:before {
  content: "\e00b";
}

/* line 63, ../css-src/partials/modules/_icon.scss */
.icon-user:before {
  content: "\e010";
}

/* line 66, ../css-src/partials/modules/_icon.scss */
.icon-users:before {
  content: "\e013";
}

/* line 1, ../css-src/partials/modules/_button.scss */
.button {
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAF7A99', endColorstr='#FF7A4966');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #af7a99), color-stop(100%, #9a5c80));
  background: -webkit-linear-gradient(#af7a99, #9a5c80);
  background: -moz-linear-gradient(#af7a99, #9a5c80);
  background: -o-linear-gradient(#af7a99, #9a5c80);
  background: linear-gradient(#af7a99, #9a5c80);
  -webkit-box-shadow: #ccaabe 0 1px 0 inset;
  -moz-box-shadow: #ccaabe 0 1px 0 inset;
  box-shadow: #ccaabe 0 1px 0 inset;
  border: 1px solid #8a5373;
  color: white;
  text-shadow: #673e56 0 -1px 0;
  -webkit-box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
  -moz-box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
  box-shadow: rgba(175, 122, 153, 0.5) 2px 2px 10px;
  text-decoration: none;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #8a5373;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a56a8d), color-stop(100%, #8a5373));
  background: -webkit-linear-gradient(#a56a8d, #8a5373);
  background: -moz-linear-gradient(#a56a8d, #8a5373);
  background: -o-linear-gradient(#a56a8d, #8a5373);
  background: linear-gradient(#a56a8d, #8a5373);
}
/* line 39, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -webkit-box-shadow: #804d6b 0 1px 2px inset;
  -moz-box-shadow: #804d6b 0 1px 2px inset;
  box-shadow: #804d6b 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button.disabled, .button[disabled] {
  opacity: 0.6;
  background: #9a5c80;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 6, ../css-src/partials/modules/_button.scss */
.buttonHome {
  font-size: 1rem;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAF7A99', endColorstr='#FF7A4966');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #af7a99), color-stop(70%, #9a5c80));
  background: -webkit-linear-gradient(#af7a99, #9a5c80 70%);
  background: -moz-linear-gradient(#af7a99, #9a5c80 70%);
  background: -o-linear-gradient(#af7a99, #9a5c80 70%);
  background: linear-gradient(#af7a99, #9a5c80 70%);
  -webkit-box-shadow: #ccaabe 0 1px 0 inset;
  -moz-box-shadow: #ccaabe 0 1px 0 inset;
  box-shadow: #ccaabe 0 1px 0 inset;
  border: 1px solid #8a5373;
  color: white;
  text-shadow: #673e56 0 -1px 0;
  text-decoration: none;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonHome:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonHome:hover {
  background-color: #8a5373;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #a56a8d), color-stop(75%, #8a5373));
  background: -webkit-linear-gradient(#a56a8d 3%, #8a5373 75%);
  background: -moz-linear-gradient(#a56a8d 3%, #8a5373 75%);
  background: -o-linear-gradient(#a56a8d 3%, #8a5373 75%);
  background: linear-gradient(#a56a8d 3%, #8a5373 75%);
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonHome:active {
  -webkit-box-shadow: #804d6b 0 1px 2px inset;
  -moz-box-shadow: #804d6b 0 1px 2px inset;
  box-shadow: #804d6b 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonHome.disabled, .buttonHome[disabled] {
  opacity: 0.6;
  background: #9a5c80;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.buttonHome::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 13, ../css-src/partials/modules/_button.scss */
.buttonResults {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAF7A99', endColorstr='#FF7A4966');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccaabe), color-stop(70%, #af7a99));
  background: -webkit-linear-gradient(#ccaabe, #af7a99 70%);
  background: -moz-linear-gradient(#ccaabe, #af7a99 70%);
  background: -o-linear-gradient(#ccaabe, #af7a99 70%);
  background: linear-gradient(#ccaabe, #af7a99 70%);
  -webkit-box-shadow: #e8dae2 0 1px 0 inset;
  -moz-box-shadow: #e8dae2 0 1px 0 inset;
  box-shadow: #e8dae2 0 1px 0 inset;
  border: 1px solid #a56a8d;
  color: white;
  text-shadow: #955a7c 0 -1px 0;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonResults:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonResults:hover {
  background-color: #a56a8d;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #c29ab1), color-stop(75%, #a56a8d));
  background: -webkit-linear-gradient(#c29ab1 3%, #a56a8d 75%);
  background: -moz-linear-gradient(#c29ab1 3%, #a56a8d 75%);
  background: -o-linear-gradient(#c29ab1 3%, #a56a8d 75%);
  background: linear-gradient(#c29ab1 3%, #a56a8d 75%);
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonResults:active {
  -webkit-box-shadow: #a06185 0 1px 2px inset;
  -moz-box-shadow: #a06185 0 1px 2px inset;
  box-shadow: #a06185 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonResults.disabled, .buttonResults[disabled] {
  opacity: 0.6;
  background: #af7a99;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 16, ../css-src/partials/modules/_button.scss */
.buttonCalendar {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF78AC78', endColorstr='#FF487648');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7c9a7), color-stop(70%, #78ac78));
  background: -webkit-linear-gradient(#a7c9a7, #78ac78 70%);
  background: -moz-linear-gradient(#a7c9a7, #78ac78 70%);
  background: -o-linear-gradient(#a7c9a7, #78ac78 70%);
  background: linear-gradient(#a7c9a7, #78ac78 70%);
  -webkit-box-shadow: #d7e6d7 0 1px 0 inset;
  -moz-box-shadow: #d7e6d7 0 1px 0 inset;
  box-shadow: #d7e6d7 0 1px 0 inset;
  border: 1px solid #68a268;
  color: white;
  text-shadow: #599159 0 -1px 0;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonCalendar:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonCalendar:hover {
  background-color: #68a268;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #98bf98), color-stop(75%, #68a268));
  background: -webkit-linear-gradient(#98bf98 3%, #68a268 75%);
  background: -moz-linear-gradient(#98bf98 3%, #68a268 75%);
  background: -o-linear-gradient(#98bf98 3%, #68a268 75%);
  background: linear-gradient(#98bf98 3%, #68a268 75%);
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonCalendar:active {
  -webkit-box-shadow: #609c60 0 1px 2px inset;
  -moz-box-shadow: #609c60 0 1px 2px inset;
  box-shadow: #609c60 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonCalendar.disabled, .buttonCalendar[disabled] {
  opacity: 0.6;
  background: #78ac78;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 19, ../css-src/partials/modules/_button.scss */
.buttonEntries {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF788EAC', endColorstr='#FF485C76');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7b6c9), color-stop(70%, #788eac));
  background: -webkit-linear-gradient(#a7b6c9, #788eac 70%);
  background: -moz-linear-gradient(#a7b6c9, #788eac 70%);
  background: -o-linear-gradient(#a7b6c9, #788eac 70%);
  background: linear-gradient(#a7b6c9, #788eac 70%);
  -webkit-box-shadow: #d7dde6 0 1px 0 inset;
  -moz-box-shadow: #d7dde6 0 1px 0 inset;
  box-shadow: #d7dde6 0 1px 0 inset;
  border: 1px solid #6881a2;
  color: white;
  text-shadow: #597091 0 -1px 0;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonEntries:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonEntries:hover {
  background-color: #6881a2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #98a8bf), color-stop(75%, #6881a2));
  background: -webkit-linear-gradient(#98a8bf 3%, #6881a2 75%);
  background: -moz-linear-gradient(#98a8bf 3%, #6881a2 75%);
  background: -o-linear-gradient(#98a8bf 3%, #6881a2 75%);
  background: linear-gradient(#98a8bf 3%, #6881a2 75%);
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonEntries:active {
  -webkit-box-shadow: #60799c 0 1px 2px inset;
  -moz-box-shadow: #60799c 0 1px 2px inset;
  box-shadow: #60799c 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonEntries.disabled, .buttonEntries[disabled] {
  opacity: 0.6;
  background: #788eac;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 25, ../css-src/partials/modules/_button.scss */
.buttonFriends {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB78080', endColorstr='#FF854C4C');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3b1b1), color-stop(70%, #b78080));
  background: -webkit-linear-gradient(#d3b1b1, #b78080 70%);
  background: -moz-linear-gradient(#d3b1b1, #b78080 70%);
  background: -o-linear-gradient(#d3b1b1, #b78080 70%);
  background: linear-gradient(#d3b1b1, #b78080 70%);
  -webkit-box-shadow: #eee2e2 0 1px 0 inset;
  -moz-box-shadow: #eee2e2 0 1px 0 inset;
  box-shadow: #eee2e2 0 1px 0 inset;
  border: 1px solid #ae7070;
  color: white;
  text-shadow: #a15b5b 0 -1px 0;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonFriends:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonFriends:hover {
  background-color: #ae7070;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #c9a1a1), color-stop(75%, #ae7070));
  background: -webkit-linear-gradient(#c9a1a1 3%, #ae7070 75%);
  background: -moz-linear-gradient(#c9a1a1 3%, #ae7070 75%);
  background: -o-linear-gradient(#c9a1a1 3%, #ae7070 75%);
  background: linear-gradient(#c9a1a1 3%, #ae7070 75%);
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonFriends:active {
  -webkit-box-shadow: #a86666 0 1px 2px inset;
  -moz-box-shadow: #a86666 0 1px 2px inset;
  box-shadow: #a86666 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonFriends.disabled, .buttonFriends[disabled] {
  opacity: 0.6;
  background: #b78080;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 28, ../css-src/partials/modules/_button.scss */
.buttonSettings {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF788EAC', endColorstr='#FF485C76');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7b6c9), color-stop(70%, #788eac));
  background: -webkit-linear-gradient(#a7b6c9, #788eac 70%);
  background: -moz-linear-gradient(#a7b6c9, #788eac 70%);
  background: -o-linear-gradient(#a7b6c9, #788eac 70%);
  background: linear-gradient(#a7b6c9, #788eac 70%);
  -webkit-box-shadow: #d7dde6 0 1px 0 inset;
  -moz-box-shadow: #d7dde6 0 1px 0 inset;
  box-shadow: #d7dde6 0 1px 0 inset;
  border: 1px solid #6881a2;
  color: white;
  text-shadow: #597091 0 -1px 0;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonSettings:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonSettings:hover {
  background-color: #6881a2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #98a8bf), color-stop(75%, #6881a2));
  background: -webkit-linear-gradient(#98a8bf 3%, #6881a2 75%);
  background: -moz-linear-gradient(#98a8bf 3%, #6881a2 75%);
  background: -o-linear-gradient(#98a8bf 3%, #6881a2 75%);
  background: linear-gradient(#98a8bf 3%, #6881a2 75%);
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonSettings:active {
  -webkit-box-shadow: #60799c 0 1px 2px inset;
  -moz-box-shadow: #60799c 0 1px 2px inset;
  box-shadow: #60799c 0 1px 2px inset;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.buttonSettings.disabled, .buttonSettings[disabled] {
  opacity: 0.6;
  background: #788eac;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 1, ../css-src/partials/modules/_toggle.scss */
.toggle {
  cursor: pointer;
  display: block;
}

/* line 2, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG {
  position: relative;
  width: 120px;
  height: 15px;
}

/* line 7, ../css-src/partials/modules/_spinner.scss */
.squaresWaveG {
  position: absolute;
  top: 0;
  background-color: #000000;
  width: 15px;
  height: 15px;
  -moz-animation-name: bounce_squaresWaveG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-animation-name: bounce_squaresWaveG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-animation-name: bounce_squaresWaveG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-animation-name: bounce_squaresWaveG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  animation-name: bounce_squaresWaveG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

/* line 35, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

/* line 44, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_2 {
  left: 16px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

/* line 53, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_3 {
  left: 32px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

/* line 62, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_4 {
  left: 48px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

/* line 71, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_5 {
  left: 64px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s;
}

/* line 80, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_6 {
  left: 80px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s;
}

/* line 89, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_7 {
  left: 96px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

/* line 98, ../css-src/partials/modules/_spinner.scss */
#squaresWaveG_8 {
  left: 112px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s;
}

@-moz-keyframes bounce_squaresWaveG {
  /* line 108, ../css-src/partials/modules/_spinner.scss */
  0% {
    background-color: #000000;
  }

  /* line 112, ../css-src/partials/modules/_spinner.scss */
  100% {
    background-color: #FFFFFF;
  }
}

@-webkit-keyframes bounce_squaresWaveG {
  /* line 119, ../css-src/partials/modules/_spinner.scss */
  0% {
    background-color: #000000;
  }

  /* line 123, ../css-src/partials/modules/_spinner.scss */
  100% {
    background-color: #FFFFFF;
  }
}

@-ms-keyframes bounce_squaresWaveG {
  /* line 130, ../css-src/partials/modules/_spinner.scss */
  0% {
    background-color: #000000;
  }

  /* line 134, ../css-src/partials/modules/_spinner.scss */
  100% {
    background-color: #FFFFFF;
  }
}

@-o-keyframes bounce_squaresWaveG {
  /* line 141, ../css-src/partials/modules/_spinner.scss */
  0% {
    background-color: #000000;
  }

  /* line 145, ../css-src/partials/modules/_spinner.scss */
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes bounce_squaresWaveG {
  /* line 152, ../css-src/partials/modules/_spinner.scss */
  0% {
    background-color: #000000;
  }

  /* line 156, ../css-src/partials/modules/_spinner.scss */
  100% {
    background-color: #FFFFFF;
  }
}

/* line 1, ../css-src/partials/modules/_data-list.scss */
.dataList {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 5, ../css-src/partials/modules/_data-list.scss */
.dataList li {
  list-style: none;
}

/* line 6, ../css-src/partials/modules/_results-list.scss */
.resultsListHeading {
  background: #af7a99;
  color: white;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0.5em;
}

/* line 14, ../css-src/partials/modules/_results-list.scss */
.resultsGroup {
  margin-bottom: 1em;
  padding: 0;
}

/* line 18, ../css-src/partials/modules/_results-list.scss */
.resultsItem {
  border-bottom: 1px solid #af7a99;
  padding: 0.5em 1em;
}
/* line 21, ../css-src/partials/modules/_results-list.scss */
.resultsItem:first-child {
  border-top: 1px solid #af7a99;
}

/* line 25, ../css-src/partials/modules/_results-list.scss */
.resultsListDate {
  color: #af7a99;
  font-weight: bold;
}

/* line 29, ../css-src/partials/modules/_results-list.scss */
.resultsDate {
  padding: 0;
}

/* line 2, ../css-src/partials/modules/_filter-list.scss */
.filterList ol, .filterList ul {
  padding-left: 0;
}
/* line 5, ../css-src/partials/modules/_filter-list.scss */
.filterList > li {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
/* line 7, ../css-src/partials/modules/_filter-list.scss */
.filterList > li:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 9, ../css-src/partials/modules/_filter-list.scss */
.filterList time {
  font-size: 80%;
}

/* line 13, ../css-src/partials/modules/_filter-list.scss */
.filterListHeader {
  padding: .5em 1em;
}

/* line 16, ../css-src/partials/modules/_filter-list.scss */
.filterListHeading {
  margin-top: 0;
}

/* line 20, ../css-src/partials/modules/_filter-list.scss */
.filterAlpha > li {
  border: 1px solid gray;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 26, ../css-src/partials/modules/_filter-list.scss */
.filterBeta > li {
  border-top: 1px solid gray;
  padding: .5em 1em;
}

/* line 32, ../css-src/partials/modules/_filter-list.scss */
.filterGamma > li {
  padding: .5em 1em;
}

/* line 4, ../css-src/partials/modules/_sync-status.scss */
.modified {
  background: #dfcdb4;
}

/* line 7, ../css-src/partials/modules/_sync-status.scss */
.new {
  background: #fbeed3;
}

/* line 1, ../css-src/partials/modules/_page-heading.scss */
.pageHeading {
  width: 65.21739%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin: 0;
}
/* line 4, ../css-src/partials/modules/_page-heading.scss */
.pageHeading a {
  color: rgba(175, 122, 153, 0.75);
  text-decoration: none;
  text-shadow: 0 1px 1px #f2f2f2;
}
/* line 8, ../css-src/partials/modules/_page-heading.scss */
.pageHeading a:hover {
  color: #af7a99;
}

@media print {
  /* line 2, ../css-src/partials/media/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 10, ../css-src/partials/media/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 14, ../css-src/partials/media/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 18, ../css-src/partials/media/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 28, ../css-src/partials/media/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 33, ../css-src/partials/media/_print.scss */
  pre,
  blockquote {
    border: 1px solid gray;
    page-break-inside: avoid;
  }

  /* line 38, ../css-src/partials/media/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 43, ../css-src/partials/media/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 47, ../css-src/partials/media/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 57, ../css-src/partials/media/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 63, ../css-src/partials/media/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
