<!DOCTYPE html>
<!--[if lt IE 7]>	<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Project Overview: {{ settings.PROJECT_NAME }}</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />

		<!--
			This is a Jinja2 template. See http://jinja.pocoo.org/docs/templates/ for details
		-->

		<!-- link in copied stylesheets -->
		{% for loop_stylesheet in settings.CSS_OUTPUT_FILES %}
			<link rel="stylesheet" href="{{ loop_stylesheet }}" ></link>
		{% endfor %}
	</head>

	<body class="">
		<div class="layoutWrapper">
			<header class="layoutHeader" role="banner">
				<h1 class="pageTitle">Templates - {{ settings.CLIENT }} {{ settings.PROJECT_NAME }} {{ settings.PROJECT_NUMBER }}</h1>
			</header>

			<!-- Loop through each partial -->
			{% for loop_partial in items %}

				<!-- Output the partial filename -->
				<div>{{ loop_partial.partial_name }}</div>

				<!-- Now loop through each CSS atom in the partial -->
				{% for loop_item in loop_partial.items %}
					<div>
						<h2>{{ loop_item.selector }}</h2>

						<!-- attempt to put the main description first -->
						{% for comment_key,comment_value in loop_item.comments.items() %}
							{% if comment_key == 'main_description' %}
								<p>{{ comment_value}}</p>
							{% endif %}
						{% endfor %}

						<!-- Output all other comment tags -->
						<p>
							{% for comment_key,comment_value in loop_item.comments.items() %}

								<!-- Example should show the escaped HTML plus what it looks like? -->
								{% if comment_key == 'example' %}
									<h3>Example</h3>
									<div>
										{{ comment_value }}
									</div>
									<div style="clear:both;">&nbsp;</div>

									<h3>HTML for this</h3>
									<pre><code>{{ comment_value|e }}</code></pre>

								{% elif comment_key == 'main_description' %}

									<!-- Ignore main_description, we added it above -->

								{% else %}
									<!-- Output everything else -->
									<div>
										<strong>{{ comment_key }}</strong> <span>{{ comment_value }}</span>
									</div>
								{% endif %}
							{% endfor %}
						</p>

						<!-- nasty hacky way to add space -->
						<br/><br/><hr/>
					</div>

				{% endfor %}
			{% endfor %}
		</div>
	</body>
</html>
