<html>
	<head>
		{% for loop_stylesheet in settings.CSS_OUTPUT_FILES %}
			<link rel="stylesheet" href="{{ loop_stylesheet }}" ></link>
		{% endfor %}
	</head>
	<body>
		<div>{{ filename }}</div>

		{% for loop_partial in items %}
			<div>{{ loop_partial.partial_name }}</div>

			{% for loop_item in loop_partial.items %}
				<div>
					<h2>{{ loop_item.selector }}</h2>

					<!-- attempt to put the main description first -->
					{% for comment_key,comment_value in loop_item.comments.items() %}
						{% if comment_key == 'main_description' %}
							<p>{{ comment_value}}</p>
						{% endif %}
					{% endfor %}

					<p>
						{% for comment_key,comment_value in loop_item.comments.items() %}
							{% if comment_key == 'example' %}
								<h3>Example</h3>
								<div>
									{{ comment_value }}
								</div>

								<h3>HTML for this</h3>
								<pre><code>{{ comment_value|e }}</code></pre>
							{% elif comment_key == 'main_description' %}
							{% else %}
								<div>
									<strong>{{ comment_key }}</strong> <span>{{ comment_value }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</p>


					<hr/>
				</div>

			{% endfor %}
		{% endfor %}
	</body>
</html>
